@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White background */
    --foreground: 24 5% 26%; /* #47423e */

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%; /* White */
    --card-foreground: 24 5% 26%; /* #47423e */

    --border: 24 5% 80%; /* Light version of primary */
    --input: 24 5% 80%;

    --primary: 24 5% 26%; /* #47423e */
    --primary-foreground: 40 10% 98%;

    --secondary: 39 33% 83%; /* #e2dac4 */
    --secondary-foreground: 24 5% 26%;

    --accent: 39 33% 83%; /* #e2dac4 */
    --accent-foreground: 24 5% 26%; /* #47423e */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --ring: 217.9 10.6% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 24 5% 16%; /* Darker version of #47423e */
    --foreground: 39 33% 83%; /* #e2dac4 */

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --card: 24 5% 20%; /* Slightly lighter than background */
    --card-foreground: 39 33% 83%; /* #e2dac4 */

    --border: 24 5% 30%; /* Lighter version of background */
    --input: 24 5% 30%;

    --primary: 39 33% 83%; /* #e2dac4 in dark mode */
    --primary-foreground: 24 5% 26%;

    --secondary: 24 5% 26%; /* #47423e in dark mode */
    --secondary-foreground: 39 33% 83%;

    --accent: 24 5% 26%; /* #47423e */
    --accent-foreground: 39 33% 83%; /* #e2dac4 */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 215 27.9% 16.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}